---
order: 3
category: Attendance
title: I need a better way to take attendance in large lectures when students share the attendance code.
---

I teach a large class of around 200 students with weekly lectures. I use polling software that generates a code for each class session, but students share the code, so I cannot get an accurate attendance record.

